#top{

    border: 4px solid purple;
    margin: 0px 400px 100px 20px;
    text-align: center;

}

#bottom{
    border: 4px solid purple;
    margin: 200px;
    text-align: center;
    width: 50%;
    /* padding: 200px; */
    padding-left: 100px;
    padding-top: 0px;

}